<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="1.2.8" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="NuProj.Common" version="0.10.30-beta-gcbd7693f91" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="ReadOnlySourceTree" version="0.1.24-beta" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha-gafdc12e670" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>